In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'key': ['a', 'b', 'c'] *4,
                  'value': np.arange(12.)})
df

   key  value
0    a    0.0
1    b    1.0
2    c    2.0
3    a    3.0
4    b    4.0
5    c    5.0
6    a    6.0
7    b    7.0
8    c    8.0
9    a    9.0
10   b   10.0
11   c   11.0

In [3]:
g = df.groupby('key').value
g.mean()

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

In [4]:
g.transform(lambda x: x.mean())

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

In [5]:
g.transform('mean')

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

In [6]:
g.transform(lambda x: x * 2)

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
11    22.0
Name: value, dtype: float64

In [7]:
g.transform(lambda x: x.rank(ascending=False))

0     4.0
1     4.0
2     4.0
3     3.0
4     3.0
5     3.0
6     2.0
7     2.0
8     2.0
9     1.0
10    1.0
11    1.0
Name: value, dtype: float64

In [8]:
def normalize(x):
    return (x - x.mean()) / x.std()

In [9]:
g.transform(normalize)

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

In [10]:
g.apply(normalize)

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

In [11]:
g.transform('sum')

0     18.0
1     22.0
2     26.0
3     18.0
4     22.0
5     26.0
6     18.0
7     22.0
8     26.0
9     18.0
10    22.0
11    26.0
Name: value, dtype: float64

In [12]:
normalized = (df['value'] - g.transform('mean')) / g.transform('std')
normalized

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

In [14]:
N = 15
times = pd.date_range('2020-05-20 00:00', freq='1min', periods=N)
df = pd.DataFrame({'time': times,
                  'value': np.arange(N)})
df

                  time  value
0  2020-05-20 00:00:00      0
1  2020-05-20 00:01:00      1
2  2020-05-20 00:02:00      2
3  2020-05-20 00:03:00      3
4  2020-05-20 00:04:00      4
5  2020-05-20 00:05:00      5
6  2020-05-20 00:06:00      6
7  2020-05-20 00:07:00      7
8  2020-05-20 00:08:00      8
9  2020-05-20 00:09:00      9
10 2020-05-20 00:10:00     10
11 2020-05-20 00:11:00     11
12 2020-05-20 00:12:00     12
13 2020-05-20 00:13:00     13
14 2020-05-20 00:14:00     14

In [19]:
df.set_index('time').resample('5min').count()

                     value
time
2020-05-20 00:00:00      5
2020-05-20 00:05:00      5
2020-05-20 00:10:00      5

In [20]:
df2 = pd.DataFrame({'time': times.repeat(3),
                   'key': np.tile(['a', 'b', 'c'], N),
                   'value': np.arange(N * 3.)})
df2[:7]

                 time key  value
0 2020-05-20 00:00:00   a    0.0
1 2020-05-20 00:00:00   b    1.0
2 2020-05-20 00:00:00   c    2.0
3 2020-05-20 00:01:00   a    3.0
4 2020-05-20 00:01:00   b    4.0
5 2020-05-20 00:01:00   c    5.0
6 2020-05-20 00:02:00   a    6.0

In [24]:
from datetime import datetime
time_key = pd.TimeGrouper('5min')
resampled = (df2.set_index('time')
            .groupby(['key', time_key])
            .sum())
resampled

AttributeError: module 'pandas' has no attribute 'TimeGrouper'