In [1]:
tup = 4, 5, 6

tup

(4, 5, 6)

In [2]:
nested_tup = (4, 5, 6), (7, 8)

In [3]:
nested_tup

((4, 5, 6), (7, 8))

In [4]:
tuple([3, 0, 2])

(3, 0, 2)

In [5]:
tup = tuple('string')

In [6]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
tup[0]

's'

In [8]:
tup[0] = "S"

TypeError: 'tuple' object does not support item assignment

In [11]:
tup = tuple(['foo', [1, 2], True])

In [12]:
tup[1].append(3)

In [13]:
tup

('foo', [1, 2, 3], True)

In [14]:
(4, None, 'foo') + (6, 0)

(4, None, 'foo', 6, 0)

In [15]:
('foo', 'bar') * 2

('foo', 'bar', 'foo', 'bar')

In [16]:
tup = (4, 5, 6, 7, 8, 9)

In [17]:
a, b, c = tup

ValueError: too many values to unpack (expected 3)

In [18]:
a, b, c, d, e, f = tup

In [19]:
b

5

In [20]:
tup = 4, 5, (1, 2)

In [21]:
tup

(4, 5, (1, 2))

In [22]:
a, b, (c, d) = tup

In [23]:
c

1

In [24]:
a, b = 1, 2

In [25]:
a

1

In [26]:
b

2

In [27]:
b, a = a, b

In [28]:
a

2

In [29]:
b

1

In [30]:
values = 1, 2, 3, 4, 5

In [31]:
a, b, *rest = values

In [32]:
a, b

(1, 2)

In [33]:
rest

[3, 4, 5]

In [34]:
values.count(1)

1

In [35]:
a_list = [2, 3, 'foo', None]

In [36]:
a_list

[2, 3, 'foo', None]

In [37]:
r = range(10)
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
a_list.append(1)

In [39]:
a_list

[2, 3, 'foo', None, 1]

In [40]:
a_list.insert(1, 'bar')

In [41]:
a_list

[2, 'bar', 3, 'foo', None, 1]

In [42]:
a_list.pop(2)

3

In [43]:
a_list

[2, 'bar', 'foo', None, 1]

In [44]:
a_list.remove()

TypeError: remove() takes exactly one argument (0 given)

In [47]:
a_list.append('foo')
a_list

[2, 'bar', 'foo', None, 1, 'foo', 'foo', 'foo']

In [48]:
a_list.remove('foo')

In [49]:
a_list

[2, 'bar', None, 1, 'foo', 'foo', 'foo']

In [50]:
'dwar' in a_list

False

In [51]:
'bar' in a_list

True

In [52]:
a = [7, 2, 5, 1, 3]

In [53]:
a.sort()

In [54]:
a

[1, 2, 3, 5, 7]

In [55]:
b = ['sq', 'aadsfsa', 'asdfadsfdsafsafadsfdsa', 'aa', 'abcdefg']
b.sort(key=len)

In [56]:
b

['sq', 'aa', 'aadsfsa', 'abcdefg', 'asdfadsfdsafsafadsfdsa']

In [57]:
b.sort()
b

['aa', 'aadsfsa', 'abcdefg', 'asdfadsfdsafsafadsfdsa', 'sq']

In [58]:
import bisect

c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)

4

In [59]:
bisect.bisect(c, 7)

7

In [60]:
len(c)

7

In [61]:
bisect.insort(c, 6)

In [62]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [63]:
c[1:3]

[2, 2]

In [64]:
c[-4:]

[3, 4, 6, 7]

In [65]:
c[-4:-2]

[3, 4]

In [66]:
c[::-1]

[7, 6, 4, 3, 2, 2, 2, 1]

In [67]:
c[::-2]

[7, 4, 2, 2]

In [68]:
some_list = ['boo', 'bar', 'bz']
mapping = {}

In [69]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [70]:
mapping

{'boo': 0, 'bar': 1, 'bz': 2}

In [71]:
sorted([0,9,8,7,6,6,5,4,3,3,2,1])

[0, 1, 2, 3, 3, 4, 5, 6, 6, 7, 8, 9]

In [72]:
sorted('string')

['g', 'i', 'n', 'r', 's', 't']

In [73]:
seq1 = ['f', 'o', 'o']
seq2 = ['b', 'a', 'r']

zipped = zip(seq1, seq2)

In [74]:
zipped

In [75]:
list(zipped)

[('f', 'b'), ('o', 'a'), ('o', 'r')]

In [76]:
seq3 = [False, True]

In [77]:
list(zip(seq1, seq2, seq3))

[('f', 'b', False), ('o', 'a', True)]

In [78]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print(f'{i}: {a}, {b}')

0: f, b
1: o, a
2: o, r

In [79]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

first, last = zip(*pitchers)

In [80]:
first

('Nolan', 'Roger', 'Schilling')

In [81]:
last

('Ryan', 'Clemens', 'Curt')

In [82]:
print(pitchers)

[('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [83]:
empty_dict = {}

d1 = {'a': 'some value', 'b': [1, 2, 3, 4]}

In [84]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [85]:
d1[7]

KeyError: 7

In [86]:
d1[1]

KeyError: 1

In [87]:
d1[7] = 'an integer'

In [88]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [89]:
d1['b']

[1, 2, 3, 4]

In [90]:
'b' in d1

True

In [91]:
del d1[7]

In [92]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [93]:
ret = d1.pop('b')

In [94]:
ret

[1, 2, 3, 4]

In [95]:
d1

{'a': 'some value'}

In [97]:
list(d1.keys())

['a']

In [98]:
list(d1.values())

['some value']

In [99]:
d1.update({'b': 'new'})

In [100]:
d1

{'a': 'some value', 'b': 'new'}

In [101]:
for key, value in zip(d1.keys(), d1.values()):
    mapping[key] = value

In [102]:
mapping

{'boo': 0, 'bar': 1, 'bz': 2, 'a': 'some value', 'b': 'new'}

In [103]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

In [104]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [105]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [106]:
by_letter2 = {}
for word in words:
    letter = word[0]
    by_letter2.setdefault(letter, []).append(word)

In [107]:
by_letter2

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [108]:
by_letter3 = {}
from collections import defaultdict
by_letter3 = defaultdict(list)
for word in words:
    by_letter3[word[0]].append(word)

In [109]:
by_letter3

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [110]:
hash(['1'])

TypeError: unhashable type: 'list'

In [111]:
hash(('1'))

138343620214386547

In [112]:
set([1, 2, 3,45,3,343,4324,3])

{1, 2, 3, 45, 343, 4324}

In [113]:
{123,1234,134,3214,321,4321,41,324,1}

{1, 41, 123, 134, 321, 324, 1234, 3214, 4321}

In [114]:
string = ['a', 'ab', 'asdf', 'adsfasfa', b'dafdsaf']

[x.upper() for x in string if (len(x) > 2)]

['ASDF', 'ADSFASFA', b'DAFDSAF']

In [115]:
set(map(len, string))

{1, 2, 4, 7, 8}

In [117]:
some = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

flatterned = [x for tup in some for x in tup]

In [118]:
flatterned

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [119]:
[[x for x in tup] for tup in some]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]