In [1]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [2]:
func()

In [3]:
a

[0, 1, 2, 3, 4]

In [4]:
b = None

def bind_a_variable():
    global b
    b = []

bind_a_variable()

In [5]:
print(b)

[]

In [6]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [8]:
print(f())

(5, 6, 7)

In [9]:
a, b, c = f()

In [10]:
print(a, b, c)

5 6 7

In [11]:
states = ['Alabama ', 'Georgia!', 'Georgia', 'gerogia', 'FlOrida', 'southcarolina##', 'West virginia?']

In [12]:
import re

def clean_strings(strings):
    result = []
    
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    
    return result

In [13]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Gerogia',
 'Florida',
 'Southcarolina',
 'West Virginia']

In [15]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings2(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [16]:
clean_strings2(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Gerogia',
 'Florida',
 'Southcarolina',
 'West Virginia']

In [17]:
for x in map(remove_punctuation, states):
    print(x)

Alabama
Georgia
Georgia
gerogia
FlOrida
southcarolina
West virginia

In [18]:
def short_function(x):
    return x * 2

In [19]:
equiv_anon = lambda x: x * 2

In [20]:
print(short_function(10))

20

In [21]:
print(equiv_anon(10))

20

In [22]:
strings = ['foo', 'card', 'bar', 'aaa', 'abab', 'aaaa']

strings.sort(key=lambda x: len(set(list(x))))

In [23]:
strings

['aaa', 'aaaa', 'foo', 'abab', 'bar', 'card']

In [24]:
def add_numbers(x, y):
    return x + y

In [25]:
add_five = lambda y: add_numbers(5, y)

In [26]:
print(add_five(10))

15

In [28]:
from functools import partial

add_five = partial(add_numbers, 5)

In [29]:
print(add_five(20))

25

In [30]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

for key in some_dict:
    print(key)

a
b
c

In [31]:
dict_iterator = iter(some_dict)

In [32]:
dict_iterator

In [33]:
list(dict_iterator)

['a', 'b', 'c']

In [34]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [35]:
gen = squares()

In [36]:
gen

In [37]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [38]:
gen2 = (x ** 2 for x in range(10))

In [39]:
gen2

In [40]:
for x in gen2:
    print(x)

0
1
4
9
16
25
36
49
64
81

In [41]:
import itertools

In [42]:
first_letter = lambda x: x[0]

In [43]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [44]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [46]:
def tt(x):
    try:
        x = float(x)
    except:
        pass
    else:
        print('success')
    finally:
        return x

In [47]:
print(tt('a'))

a

In [48]:
print(tt(1))

1.0

In [49]:
print(tt(1.0))

1.0

In [50]:
tt(1.0)

1.0

In [52]:
tt('123')

123.0

In [53]:
tt('asfadsfa')

'asfadsfa'