In [3]:
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
dates = [datetime(2020,1,1),datetime(2020,2,1),datetime(2020,3,1),
        datetime(2020,4,1),datetime(2020,5,1),datetime(2020,6,1),]

ts = pd.Series(np.random.randn(6), index=dates)

In [5]:
ts

2020-01-01    1.167058
2020-02-01    0.057481
2020-03-01    0.696310
2020-04-01    0.670597
2020-05-01   -0.515158
2020-06-01    0.308265
dtype: float64

In [6]:
ts.index

DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01'],
              dtype='datetime64[ns]', freq=None)

In [7]:
ts + ts[::2]

2020-01-01    2.334117
2020-02-01         NaN
2020-03-01    1.392621
2020-04-01         NaN
2020-05-01   -1.030317
2020-06-01         NaN
dtype: float64

In [8]:
ts.index.dtype

dtype('<M8[ns]')

In [10]:
stamp = ts.index[0]
stamp

Timestamp('2020-01-01 00:00:00')

In [11]:
stamp = ts.index[2]
ts[stamp]

0.6963103407622202

In [12]:
ts['1/1/2020']

1.1670583940470638

In [13]:
ts['20200201']

0.05748094137089588

In [14]:
longer_ts = pd.Series(np.random.randn(1000),
                     index=pd.date_range('1/1/2020', periods=1000))

In [15]:
longer_ts

2020-01-01    0.155017
2020-01-02   -0.116728
2020-01-03    0.242718
2020-01-04   -0.721085
2020-01-05    2.038497
                ...
2022-09-22    2.498411
2022-09-23    0.560549
2022-09-24    0.510965
2022-09-25   -0.774410
2022-09-26    0.495818
Freq: D, Length: 1000, dtype: float64

In [16]:
longer_ts['2021']

2021-01-01   -0.488915
2021-01-02   -0.361772
2021-01-03    0.346752
2021-01-04   -0.436784
2021-01-05    0.139785
                ...
2021-12-27    0.575375
2021-12-28    1.084471
2021-12-29    0.027931
2021-12-30    0.105042
2021-12-31   -0.178712
Freq: D, Length: 365, dtype: float64

In [17]:
longer_ts['2021-9']

2021-09-01    0.041872
2021-09-02    1.320537
2021-09-03   -0.546057
2021-09-04   -0.657356
2021-09-05   -0.274628
2021-09-06   -0.341311
2021-09-07   -0.019463
2021-09-08    0.759851
2021-09-09   -0.112082
2021-09-10   -0.402820
2021-09-11   -0.791313
2021-09-12    0.300400
2021-09-13    0.067939
2021-09-14   -0.234894
2021-09-15    1.907662
2021-09-16    0.296770
2021-09-17    0.860352
2021-09-18   -2.418207
2021-09-19    0.046606
2021-09-20    1.408712
2021-09-21   -0.402489
2021-09-22    0.342146
2021-09-23   -2.600333
2021-09-24   -0.169495
2021-09-25    0.450191
2021-09-26    0.898554
2021-09-27   -1.990113
2021-09-28    1.331540
2021-09-29   -1.764543
2021-09-30   -1.862410
Freq: D, dtype: float64

In [20]:
longer_ts[datetime(2020, 11, 17):]

2020-11-17    2.113671
2020-11-18   -0.523219
2020-11-19   -0.250715
2020-11-20    2.533264
2020-11-21   -1.517308
                ...
2022-09-22    2.498411
2022-09-23    0.560549
2022-09-24    0.510965
2022-09-25   -0.774410
2022-09-26    0.495818
Freq: D, Length: 679, dtype: float64

In [21]:
ts

2020-01-01    1.167058
2020-02-01    0.057481
2020-03-01    0.696310
2020-04-01    0.670597
2020-05-01   -0.515158
2020-06-01    0.308265
dtype: float64

In [23]:
ts['3/1/2020' : '7/1/2020']

2020-03-01    0.696310
2020-04-01    0.670597
2020-05-01   -0.515158
2020-06-01    0.308265
dtype: float64

In [24]:
ts.truncate(after='4/1/2020')

2020-01-01    1.167058
2020-02-01    0.057481
2020-03-01    0.696310
2020-04-01    0.670597
dtype: float64

In [25]:
dates = pd.date_range('2020-1-1', periods=100, freq='W-WED')

In [26]:
long_df = pd.DataFrame(np.random.randn(100, 4), index=dates,
                      columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [27]:
long_df.loc['3-2020']

            Colorado     Texas  New York      Ohio
2020-03-04 -0.186153  0.920547  0.966909  0.049964
2020-03-11  1.790724 -0.165080  1.410980  1.155203
2020-03-18  0.177034  0.916761  0.755161 -1.000410
2020-03-25 -0.835036 -0.571722 -0.253530  1.388120

In [28]:
dates

DatetimeIndex(['2020-01-01', '2020-01-08', '2020-01-15', '2020-01-22',
               '2020-01-29', '2020-02-05', '2020-02-12', '2020-02-19',
               '2020-02-26', '2020-03-04', '2020-03-11', '2020-03-18',
               '2020-03-25', '2020-04-01', '2020-04-08', '2020-04-15',
               '2020-04-22', '2020-04-29', '2020-05-06', '2020-05-13',
               '2020-05-20', '2020-05-27', '2020-06-03', '2020-06-10',
               '2020-06-17', '2020-06-24', '2020-07-01', '2020-07-08',
               '2020-07-15', '2020-07-22', '2020-07-29', '2020-08-05',
               '2020-08-12', '2020-08-19', '2020-08-26', '2020-09-02',
               '2020-09-09', '2020-09-16', '2020-09-23', '2020-09-30',
               '2020-10-07', '2020-10-14', '2020-10-21', '2020-10-28',
               '2020-11-04', '2020-11-11', '2020-11-18', '2020-11-25',
               '2020-12-02', '2020-12-09', '2020-12-16', '2020-12-23',
               '2020-12-30', '2021-01-06', '2021-01-13', '2021-01-20',
               '2021-01-27', '2021-02-03', '2021-02-10', '2021-02-17',
               '2021-02-24', '2021-03-03', '2021-03-10', '2021-03-17',
               '2021-03-24', '2021-03-31', '2021-04-07', '2021-04-14',
               '2021-04-21', '2021-04-28', '2021-05-05', '2021-05-12',
               '2021-05-19', '2021-05-26', '2021-06-02', '2021-06-09',
               '2021-06-16', '2021-06-23', '2021-06-30', '2021-07-07',
               '2021-07-14', '2021-07-21', '2021-07-28', '2021-08-04',
               '2021-08-11', '2021-08-18', '2021-08-25', '2021-09-01',
               '2021-09-08', '2021-09-15', '2021-09-22', '2021-09-29',
               '2021-10-06', '2021-10-13', '2021-10-20', '2021-10-27',
               '2021-11-03', '2021-11-10', '2021-11-17', '2021-11-24'],
              dtype='datetime64[ns]', freq='W-WED')

In [29]:
dates = pd.DatetimeIndex(['1/1/2020', '1/2/2020', '1/2/2020', '1/2/2020', '1/3/2020'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2020-01-01    0
2020-01-02    1
2020-01-02    2
2020-01-02    3
2020-01-03    4
dtype: int64

In [30]:
dup_ts.index.is_unique

False

In [31]:
dup_ts['1/3/2020']

4

In [32]:
dup_ts['1/2/2020']

2020-01-02    1
2020-01-02    2
2020-01-02    3
dtype: int64

In [33]:
grouped = dup_ts.groupby(level=0)

In [34]:
grouped.mean()

2020-01-01    0
2020-01-02    2
2020-01-03    4
dtype: int64

In [35]:
grouped.count()

2020-01-01    1
2020-01-02    3
2020-01-03    1
dtype: int64