In [13]:
import pandas as pd
import numpy as np
from datetime import datetime

In [6]:
p = pd.Period(2020, freq='A-DEC')
p

Period('2020', 'A-DEC')

In [7]:
p + 5

Period('2025', 'A-DEC')

In [8]:
p - 2

Period('2018', 'A-DEC')

In [9]:
pd.Period('2019', freq='A-DEC') - p

<-1 * YearEnd: month=12>

In [11]:
rng = pd.period_range('2011-08-18', '2020-08-18', freq='M')
rng

PeriodIndex(['2011-08', '2011-09', '2011-10', '2011-11', '2011-12', '2012-01',
             '2012-02', '2012-03', '2012-04', '2012-05',
             ...
             '2019-11', '2019-12', '2020-01', '2020-02', '2020-03', '2020-04',
             '2020-05', '2020-06', '2020-07', '2020-08'],
            dtype='period[M]', length=109, freq='M')

In [14]:
pd.Series(np.random.randn(len(rng)), index=rng)

2011-08    0.914653
2011-09   -0.836116
2011-10   -1.485109
2011-11    1.258893
2011-12    0.511167
             ...
2020-04   -0.945679
2020-05   -1.235522
2020-06   -0.329417
2020-07   -0.903646
2020-08    0.327332
Freq: M, Length: 109, dtype: float64

In [16]:
values = ['2020Q1', '2020Q2', '2020Q3']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

PeriodIndex(['2020Q1', '2020Q2', '2020Q3'], dtype='period[Q-DEC]', freq='Q-DEC')

In [17]:
p

Period('2020', 'A-DEC')

In [19]:
p.asfreq('M', how='start')

Period('2020-01', 'M')

In [20]:
p.asfreq('M', how='end')

Period('2020-12', 'M')

In [21]:
p = pd.Period('2020', freq='A-JUN')
p

Period('2020', 'A-JUN')

In [22]:
p.asfreq('M', 'start')

Period('2019-07', 'M')

In [23]:
p.asfreq('M', 'end')

Period('2020-06', 'M')

In [25]:
p = pd.Period('Aug-2020', 'M')
p

Period('2020-08', 'M')

In [26]:
p.asfreq('A-JUN')

Period('2021', 'A-JUN')

In [27]:
rng = pd.period_range('2019', '2020', freq='A-DEC')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2019    1.062960
2020    1.758275
Freq: A-DEC, dtype: float64

In [29]:
ts.asfreq('M', how='start')

2019-01    1.062960
2020-01    1.758275
Freq: M, dtype: float64

In [30]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [31]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

In [32]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [33]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
p4pm

Period('2012-01-30 16:00', 'T')

In [34]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [36]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')
ts = pd.Series(np.arange(len(rng)), index=rng)
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int64

In [37]:
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
ts.index = new_rng.to_timestamp()
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int64

In [39]:
rng = pd.date_range('2020-01-01', periods=3, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2020-01-31   -0.351510
2020-02-29   -3.041934
2020-03-31    0.093256
Freq: M, dtype: float64

In [40]:
pts = ts.to_period()
pts

2020-01   -0.351510
2020-02   -3.041934
2020-03    0.093256
Freq: M, dtype: float64

In [46]:
rng = pd.date_range('2020-01-29', periods=6, freq='D')
ts = pd.Series(np.arange(len(rng)), index=rng)
ts.to_period('M')

2020-01    0
2020-01    1
2020-01    2
2020-02    3
2020-02    4
2020-02    5
Freq: M, dtype: int64

In [47]:
ts.to_period().to_timestamp(how='end')

2020-01-29 23:59:59.999999999    0
2020-01-30 23:59:59.999999999    1
2020-01-31 23:59:59.999999999    2
2020-02-01 23:59:59.999999999    3
2020-02-02 23:59:59.999999999    4
2020-02-03 23:59:59.999999999    5
Freq: D, dtype: int64

In [48]:
data = pd.read_csv('examples/macrodata.csv')
data.head(5)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [49]:
data.year

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
        ...
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, Length: 203, dtype: float64

In [50]:
data.quarter

0      1.0
1      2.0
2      3.0
3      4.0
4      1.0
      ...
198    3.0
199    4.0
200    1.0
201    2.0
202    3.0
Name: quarter, Length: 203, dtype: float64

In [51]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter, freq='Q-DEC')
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [52]:
data.index = index

In [54]:
data.infl

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
          ...
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64